/* 

Useful for making easing function
https://easings.net/#

*/

html {
  scroll-behavior: smooth;
}

::selection {
  color: #FFF;
  background-color: #603DFC;
}

/* use Din as the base font for every element on the webpage */
* {
  font-family: "din-2014", sans-serif;
}

body {
  margin: 0em;
  padding: 0em;
  font-size: 16px;
  color: #3E3E3E;
}

body.scroll-lock {
  overflow: hidden;
}

input,
button {
  font-size: 1rem;
}

header {
  height: 40vh;
}

header>h1 {
  margin-bottom: 4rem;
}

img {
  max-width: 100%;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}


/*

Subscription

*/

.subscription {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 24rem;
}

#subscription-email {
  display: inline-block;
  max-width: 24rem;
  margin-bottom: 0.6rem;
}

.subscription-form {
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.subscription-form>label {
  text-align: left;
}

/* 
  
Page Header Module with Breadcrumbs

  */

.page-header-module {
  margin: 1rem auto;
  margin-left: 0rem;
  max-width: 80vw;
  display: block;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}

ul.breadcrumb {
  list-style: none;
  padding-left: 0;
}

ul.breadcrumb li {
  display: inline;
  font-weight: bold;
}

ul.breadcrumb li+li:before {
  padding: 0.6rem;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  text-decoration: none;
  font-weight: normal;
}

ul.breadcrumb li a:hover {
  color: #603DFC;
  text-decoration: underline;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in;
}


/* 
  
Navigation 
  
  */

nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* position: absolute; */
  background-color: #000;

  /* Make the navigation bar sticky */
  position: fixed;
  left: 0rem;
  right: 0rem;

  transition: transform 700ms cubic-bezier(0.16, 1, 0.3, 1);
  transform-origin: top left;
  transform: translateY(0rem);

  /* stay on top of the page */
  z-index: 10;
}

nav.nav-hidden {
  transform: translateY(-5.5rem);
}

nav>.responsive-container,
.nav-main {
  padding: 0rem;
  display: flex;
  height: auto;
  align-items: center;
}

.nav-main {
  display: flex;
  position: fixed;
  left: 0rem;
  right: 0%;
  top: 0rem;
  bottom: 0rem;

  margin-top: 4rem;
  padding: 20vh 10%;

  height: 60vh;

  flex-direction: column;
  align-items: flex-start;
  background-color: #000;

  transition: all 200ms cubic-bezier(0.16, 1, 0.3, 1);
  transition-property: opacity, transform;

  opacity: 0;
  transform-origin: top left;
  transform: scale(0);
}

.nav-main--expanded {
  transform: scale(1);
  opacity: 1;
}

.nav-main>a {
  display: block;

  /* display: inline-block; */
  margin-right: 1em;
  font-size: 1.2em;
  text-decoration: none;

  font-weight: normal;
  color: #FFF;

  margin-top: 2vh;
}

.nav-wrapper {
  /* Create a padding space under the nav bar so content wont go under it */
  height: 4.1rem;
}

.nav-main>a.active {
  /* font-weight: bold; */
  color: #603DFC;
}

a.logo>img {
  height: 3rem;
}

a.logo {
  transform: scale(1);

  transition-property: transform;
  transition-duration: .1s;
  transition-timing-function: ease;
}

a.logo:active {
  transform: scale(.9);
}

div.nav-tools {
  display: inline-block;
  margin-left: auto;
}

div.nav-tools>a {
  margin-left: 1em;
}

div.nav-tools>a>img {
  width: 1.5rem;
  height: 1.5rem;
}

.nav-overlapping-fix {
  margin-top: 4rem !important;
}

/* how navigation looks like on desktop */
@media only screen and (min-width: 600px) {

  .nav-main {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    padding: 0rem;

    height: auto;

    opacity: 1;
    transform: none;
  }

  .nav-main>a {
    display: block;

    /* display: inline-block; */
    margin-right: 1em;
    margin-top: 0rem;
    font-size: 1.2em;
    text-decoration: none;

    font-weight: normal;
    color: #FFF;
  }

  .hamburger-menu-toggle-wrapper {
    display: none !important;
  }

  .nav-wrapper {
    /* Create a padding space under the nav bar so content wont go under it */
    height: 5.1rem;
  }
}

/* 
  Hamburger Menu
*/

.hamburger-menu-toggle-wrapper {
  /* Contains both the hamburger menu toggle and the  */
  display: flex;
}

.hamburger-menu-toggle {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-top: .1rem;
  align-self: center;
}

.hamburger-menu-toggle>div {
  display: block;

  width: 100%;
  height: .15em;
  padding: 0em;
  margin-bottom: .6em;
  transition-property: transform, background-color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  background-color: #FFF;
}

.hamburger-menu-toggle--cross>div:nth-child(2) {
  transform: rotateZ(-45deg);
  background-color: #FFF;
}

.hamburger-menu-toggle--cross>div:nth-child(1) {
  transform: translate(0em, .75em) rotateZ(-45deg);
  background-color: #FFF;
}

.hamburger-menu-toggle--cross>div:nth-child(3) {
  transform: translate(0em, -.75em) rotateZ(45deg);
  background-color: #FFF;
}

.hamburger-menu-toggle-wrapper__brandname {
  align-self: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15em;
  color: #FFF;
}

/*
Product Overview Navigation
*/


.leave-review {
  margin: 2rem;
  text-align: center;
}

.checked {
  color: #603DFC;
}

.rating-scale {
  margin-top: 0.6rem;
  font-weight: bold;
}

.product-review {
  max-width: 35rem;
  margin: auto;
}


h5 {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1em;
  margin: 0em;
  text-decoration: line-through;
  color: rgb(121, 121, 121);
}


h4 {
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 1em;
  margin: 0em;

  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2em;
  margin: 0em;

  margin-bottom: 1rem;
}

h2 {
  font-size: 2em;
  margin: 0em;
  margin-bottom: 1rem;
}

h1 {
  font-size: 4em;
  margin: 0em;

  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* @media only screen and (min-width: 35em) {
  h3 {
    font-size:.1.2em;
    margin: 0em;
  }

  h2 {
    font-size:2em;
    margin: 0em;
  }

  h1 {
    font-size:4em;
    margin: 0em;
  }
} */



ul,
ol {
  padding-left: 2em;
}


.full-width {
  width: 100%;
}

/* layouts */

/* container of layout */
.layout {
  display: flex;
  flex-direction: column;

  /* 100 content width with gutter */
  max-width: 104em;

}

.layout--no-margin-bottom {
  margin-bottom: 0rem !important;
}


/* for preview purpose */
.layout--frame {
  border: .1em dashed #FFF;
  padding: 1em;
  border-radius: .25em;
  height: 10rem;
}

.layout__col-s:last-child,
.layout__col-m:last-child,
.layout__col-l:last-child,
.layout__col-side-bar:last-child {
  margin-right: 0em;
}

/* single colum layout when screen is small */

.layout__col-s,
.layout__col-m,
.layout__col-l,
.layout__col-side-bar {
  /* define the basic column width unit for the website */

  /* 330px -> 20.xxx em */
  /* define the basic gutter size for the webist */
  margin-bottom: 1em;
}

.layout__col-s:last-child,
.layout__col-m:last-child,
.layout__col-l:last-child,
.layout__col-side-bar:last-child {
  /* only introduce the gutter for the middle row, not last one */
  margin-right: 0em;
}

/* hide the side bar when the window is too small */
.layout__col-side-bar {
  display: block;
  position: fixed;
  bottom: 0rem;
  top: 0rem;
  left: 0rem;

  transform: translateX(-100%);

  padding: 3rem;
  margin: 0rem;

  width: 50vw;

  background-color: #FFF;
  z-index: 1000;
  box-shadow: 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0);
  overflow-y: auto;

  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.layout__col-side-bar--expanded {
  transform: translateX(0%);
  box-shadow: 0rem 0rem 100vw 100vw rgba(0, 0, 0, .5);
}

/* 

Filter

*/

#side-bar-toggle--open {
  font-size: 1.3rem;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 2rem;
}


/* for center floating elements */
.responsive-container {
  margin: 0rem 1rem;

  padding-top: 2em;
  padding-bottom: 2em;
}


/* expend layout when screen is bigger */
@media only screen and (min-width: 60em) {

  .layout {
    display: flex;
    flex-direction: row;

    /* 100 content width with gutter */
    max-width: 104em;
  }

  .layout__col-s,
  .layout__col-m,
  .layout__col-l,
  .layout__col-side-bar {

    /* 330px -> 20.xxx em */
    /* define the basic gutter size for the webist */
    margin-right: 1em;
  }

  .layout__col-s:last-child,
  .layout__col-m:last-child,
  .layout__col-l:last-child,
  .layout__col-side-bar:last-child {
    /* only introduce the gutter for the middle columns, not last one */
    margin-right: 0em;
  }

  .layout__col-s {
    display: block;
    flex-grow: 1;

    /* define the basic column width unit for the website */
    flex-basis: 20em;
  }

  .layout__col-m {
    display: block;
    flex-grow: 1;

    /* notice that this is two times the size of layout  */
    flex-basis: 40em;
  }

  .layout__col-l {
    display: block;
    flex-grow: 1;
    flex-basis: 60em;
  }

  #side-bar-toggle--open,
  #side-bar-toggle--close {
    display: none;
  }

  .layout__col-side-bar {
    /* have a consistant sidebar size */
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 20em;

    position: relative;
    transform: translateX(0);
    padding: 0;

    box-shadow: 0rem 0rem rgba(0, 0, 0, 0);

    z-index: auto !important;
  }

}

@media only screen and (min-width: 1280px) {
  .responsive-container {
    max-width: 1200px;
    margin: 0em auto;
  }
}


/* 

  product module

  */

.responsive-container-grid {
  margin: 0em auto;
  padding: 0em 0em;
}

.responsive-container-grid {
  padding-top: 0;
  padding-bottom: 2em;
}


.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  column-gap: 1em;
  row-gap: 1em;
  width: 100%;
}

a.product-item {
  box-sizing: content-box;

  cursor: pointer;

  display: block;
  position: relative;


  transition-property: box-shadow;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.5, 1, 0.89, 1);

  border: .2rem solid rgba(94, 59, 252, 0);
  /* filter: drop-shadow(0rem 0rem 0rem rgba(0,0,0,0)); */
  box-shadow: 0rem 0rem 0rem rgba(0, 0, 0, 0);

  border-radius: .25rem;
}

a.product-item:hover {
  /* filter: drop-shadow(0rem .5rem .3rem rgba(0,0,0,.2)); */
  box-shadow: 0rem .5rem .7rem rgba(0, 0, 0, .2);
  border: .2rem solid #603DFC;
}

.product-item__info {
  display: block;
  position: absolute;
  top: 0em;
  left: 0em;
  padding: 1em;
}

.product-item__info__catagory {
  font-size: .8em;
  text-transform: uppercase;

}

.product-item__info__title {
  font-weight: bold;
}

.product-item__image {
  /* auto scale the image so it wouldn't stretch */
  /* https://alligator.io/css/cropping-images-object-fit/ */
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

/*
  shop by category
  */

.shop-by-category-header {
  text-align: center;
  margin-bottom: 1rem;
}

.category-title {
  margin-top: 1rem;
}

a.product-category-item {
  cursor: pointer;

  display: block;
  position: relative;

  transition-property: filter;
  transition-duration: .1s;
  transition-timing-function: ease-in;

  text-align: center;
  text-decoration: none;
}

a.product-category-item:hover {
  filter: drop-shadow(0rem .5rem .3rem rgba(0, 0, 0, .2));
}

.product-category-item__image {
  width: 14rem;
  height: 14rem;

  border-radius: 50%;
}

/*
Product Overview
*/

.product-overview__image {
  height: 21.3rem;
  width: auto;
  border-radius: .25rem;
  object-fit: cover;
}

/* 
  hero module
*/

.hero-container {
  color: #FFF;
  /* background-image: url("img/large_5593_large_DKME1961ST-USPDAAT1_5.jpg"); */
  background-image: url("img/heroBackground-min.jpg");
  background-size: cover;
  padding-top: 20vh;
  padding-bottom: 9vh;
  min-height: 50vh;
}

.hero-container>.responsive-container>h1 {
  margin: 0;
  max-width: 40rem;
}

.hero-container>.responsive-container>p {
  margin: 0;
}

.hero-container>.responsive-container>#hero-cta {
  margin-top: 2rem;
}



/* 
  Filter checkboxes
*/

/* 
Code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
*/



.single-filter-component {
  margin-bottom: 2rem;
}

.filter-title {
  margin-bottom: 0.6rem;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.4rem;
  width: 1.4rem;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: #603DFC;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 0.45rem;
  top: 0.15rem;
  width: 0.3rem;
  height: 0.6rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.chip-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}


.chip {
  cursor: default;
  display: flex;
  color: #FFF;
  background-color: #603DFC;
  margin-right: 1rem;
  margin-bottom: 1rem;

  transition: box-shadow 200ms cubic-bezier(0.22, 1, 0.36, 1);
}

.chip:hover {
  box-shadow: 0rem .2rem .5rem rgba(17, 22, 82, 0.5);
}

.chip__close {
  display: block;
  padding: .5rem .75rem;
  margin: .5rem .5rem;
  background-color: #7a5cff;
  color: #FFF;
}

.chip__close:hover {
  background-color: #9982ff;
  color: #FFF;
}

.chip__close:active {
  transform: scale(.90);
}

.chip__label {
  display: block;
  padding: 1rem;
  margin: 0rem;
  background-color: #603DFC;
}



/* 

CODE FOR INTERACTIVE ELEMENT

*/
/* links */

a {
  display: inline-block;
  color: #3E3E3E;
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
  color: #603DFC;
}

a.light-link {
  color: white;
}



/* Primary and secondary buttons */
button {
  border: .15em solid #603DFC;
}

.button-primary,
.button-secondary {
  text-decoration: none;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: .75em;
  padding-bottom: .75em;

  text-transform: uppercase;
  letter-spacing: .1em;

  border-radius: .25em;
  transform: scale(1);

  transition-property: transform, box-shadow, background-color, border;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-primary:active,
.button-secondary:active {
  transform: scale(.95);
}

.button-primary:hover,
.button-secondary:hover {
  cursor: pointer;
}

.button-primary {
  background-color: #603DFC;
  color: #FFF;
  box-shadow: 0 .2em .4em rgba(54, 54, 54, 0);
}

.button-primary:hover,
.button-primary:focus {
  /* css box shadow https://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
  /* drop shadow vs box shadow https://css-tricks.com/breaking-css-box-shadow-vs-drop-shadow/ */
  background-color: #7a5cff;
  border-color: #7a5cff;
  color: #FFF;
  box-shadow: 0 .2em .4em rgba(54, 54, 54, .5);
  outline: none;
}

.button-secondary,
.button-secondary:active {
  color: #603DFC;
  background-color: rgba(0, 0, 0, .0);
}


.button-secondary:focus {
  background-color: rgba(0, 0, 0, .05);
  outline: none;
}

label {
  display: block;
  text-transform: capitalize;
  letter-spacing: .1em;
  margin-bottom: .5em;
}

input[type="text"] {
  display: block;
  box-sizing: border-box;
  padding: .75em;
  border: .15em solid #3E3E3E;
  /* min-width: 10rem; */
  width: 100%;
  border-radius: .25em;
  margin-bottom: 1.2rem;
}

input[type="text"]:focus {
  border-color: #603DFC;
  outline: none;
}

select {
  color: #444;
  font-size: 1rem;
  /* background-color: #FFF; */
  border: .1rem solid #444;
  border-radius: .25rem;
  padding: .75rem 1rem;
  width: 100%;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 
    https://mothereff.in/url
    tools to edit url encoded svg
   */
  /* adapted from https://www.filamentgroup.com/lab/select-css.html */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23603DFC%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%;
  background-size: 1em auto, 100%;
}



.dark-section {
  background-color: #3E3E3E;
  color: #FFF;
}


.purple-section {
  background-color: #603DFC;
  color: #FFF;
}

.pink-section {
  background-color: #EF476F;
  color: #FFF;
}


.light-section {
  background-color: #FFF;
  color: #3E3E3E;
}


.fullscreen-container {
  width: 100vw;
  height: 100vh;
}

.halfscreen-container {
  height: 100vh;
}

.brandingElements-container {
  display: flex;
}

.brandingElements-item {
  margin-right: 1em;
  min-width: 24%;
}

.brandingElements-item>ul {
  padding-left: 0em;
  list-style-type: none;
}

.brandingElements-item>ul {
  padding-left: 0em;
  list-style-type: none;
}

.hidden-list {
  padding-left: 0em;
  list-style-type: none;
}

.footer-links-list {
  margin-top: 0;
  padding-left: 0em;
  list-style-type: none;
}

.footer-links-list>li {
  margin-bottom: 1rem;
}

#hero {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0em;
  z-index: -1;
  background-color: #603DFC;
  color: #FFF;
}

#hero>div>h1 {
  font-size: 12em;
  margin-top: 20vh;
  margin-bottom: 0em;
  line-height: 1em;
  z-index: 100;

}

#project-name {
  float: left;
}

#student-info {
  float: right;
}

#wireframe {
  margin-top: 100vh;
}

#branding-logo {
  padding-bottom: 0em;
}

#branding {
  padding-bottom: 6em;
}

img.full-width-image {
  width: 100%;
}

/* resets the preview element margin, so the nagative space between preview content and other elements is consistant */
div.styleguide-preview>* {
  margin: 0em;
}

div.styleguide-preview {
  padding-top: 1rem;
  padding-bottom: 1rem;

  max-width: 104rem;
}

div.styleguide-code {
  display: flex;
}

/* style for displaying code section */

div.styleguide-code>code {
  display: block;
  flex: 1;
}

code {
  font-family: Courier, monospace;
  display: block;

  background-color: #EEE;
  color: #3E3E3E;



  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: .3em;

  font-size: 1em;

}

code.dark-mode {
  /* dark-mode */
  background-color: #3E3E3E;
  color: #FFF;
}

/* create a border between the html and css code preview */
/* code:first-child {
  margin-right: 1em;
} */

code.html::before,
code.css::before {
  display: block;
  white-space: pre;
  font-family: "din-2014", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .15em;
  font-size: 1em;

  margin-bottom: .5em;
}

code.html::before {
  content: "html\A";
}

code.css::before {
  content: "css\A";
}


.typogrpahyDisplay-bold {
  font-weight: bold;
  font-size: 40vh;
}

.typogrpahyDisplay-normal {
  font-weight: normal;
  font-size: 40vh;
}

.brandingColor-container {
  display: flex;
}

.brandingColor-item {
  width: 23%;
}

.colorPreview {
  border-radius: 100%;
  display: block;
  width: 4em;
  height: 4em;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */
  filter: drop-shadow(0em .4em .3em #EEE);

  background-color: #FFF;
}


.logoDisplay {
  display: block;

  max-width: 50%;
  height: auto;

  margin: 0em auto;
  padding: 5% 0em;
}

#colorPreview-Pink {
  background-color: #EF476f;
  filter: drop-shadow(0em .4em .3em rgb(243, 172, 189));
}

#colorPreview-Purple {
  background-color: #603DFC;
  filter: drop-shadow(0em .4em .3em rgb(181, 164, 255));
}

#colorPreview-DarkGrey {
  background-color: #3E3E3E;
  filter: drop-shadow(0em .4em .3em rgb(158, 158, 158));
}

#colorPreview-White {
  background-color: #FFFFFF;
  filter: drop-shadow(0em .4em .3em #EEE);
}


/*
Cart 
*/




.cart-table {
  margin-left: 0rem;
  margin-right: 0rem;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table>caption {
  text-align: start;
  margin-bottom: 0.5rem;
}

th,
td {
  padding: 1rem;
}

.cart-checkout-module {
  margin-right: 1rem;
  margin-left: 1rem;
}


.radio-delivery {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.radio-delivery input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-delivery label {
  display: inline-block;
  background-color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: .75em;
  padding-bottom: .75em;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: .25em;
  transform: scale(1);
  border: 2px solid #444;
  border-radius: 0.25rem;
}

.radio-delivery label:hover {
  background-color: rgba(96, 61, 252, 0.22);
}

.radio-delivery input[type="radio"]:focus+label {
  border: 2px solid rgba(96, 61, 252, 0.22);
}

.radio-delivery input[type="radio"]:checked+label {
  background-color: rgba(96, 61, 252, 0.22);
  border-color: #603DFC;
  color: #603DFC;
}



/*
Address Form Page
*/

.address-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}




.checkout-adress-module {
  margin-right: 1rem;
  margin-left: 1rem;
}

/*
Payment Method Page
*/


.radio-payment {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.radio-payment input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-payment label {
  display: inline-block;
  background-color: white;
  width: 12rem;
  height: 5rem;
  align-items: center;
  padding-top: .75em;
  padding-bottom: .75em;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  border-radius: .25em;
  transform: scale(1);
  border: 2px solid #444;
  border-radius: 0.25rem;
}

.radio-payment label:hover {
  background-color: rgba(96, 61, 252, 0.22);
}

.radio-payment input[type="radio"]:focus+label {
  border: 2px solid rgba(96, 61, 252, 0.22);
}

.radio-payment input[type="radio"]:checked+label {
  background-color: rgba(96, 61, 252, 0.22);
  border-color: #603DFC;
  color: #603DFC;
}



/*
Payment form Page
*/




.completed-delivery-module {
  margin-top: 3rem;
}



/*
Review  Page
*/




/*
 Product page
 */
.product-module {
  margin-top: 2rem;
}

.product-detials {
  display: flex;
  flex-direction: column;
}

/* make the button stick to the bottom of the container */
.product-detials__controllers {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}


.product-gallery>img {
  width: 100%;
  height: auto;
}

.product-tab-navigation-container {
  display: flex;
  justify-content: center;
  width: 100%;
}


/*
 tab navigation module
 */
.tab-navigation {
  margin-bottom: 1rem;
  display: flex;
}

.tab-navigation>a {
  font-size: 1rem;
  margin: 0em;
  text-decoration: none;
  margin: 0rem;
  padding: .5rem 1rem;
  color: #603DFC;

  text-transform: uppercase;

}


.tab-navigation>.active {
  border-radius: .25rem;
  font-weight: bold;
}

/*

Styles for check out sections

*/

.checkout-form-container {
  padding: 4rem 4rem;
  /* border: .1rem solid #000; */
  border-radius: .25rem;
  box-shadow: 0rem .25rem .5rem rgba(0, 0, 0, .15);
}

.step-indicator {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: stretch;
  align-content: stretch; */
  padding: 1rem 0rem;
}

.step-indicator__step:first-child {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.step-indicator__step:last-child {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

a.step-indicator__step {
  display: block;
  width: 100%;
  padding: 1rem 1rem;
  background-color: #eee;
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
}

a.step-indicator__step--active {
  background-color: #444;
  color: #FFF;
}

a.step-indicator__step--inactive {
  cursor: default;
  background-color: #eee;
  color: #CCC;
}






/*
REVIEW SECTION MODULES
*/

.upload_image {
  background-color: lightgray;
  color: #3E3E3E;
  max-width: 100%;
  padding: 4rem 1rem 4rem 1rem;
  text-align: center;
}

.review-checkbox-area {
  margin-top: 2rem;
  margin-bottom: 0;
}

.button-area-review {
  margin-top: 2rem;
  text-align: right;
}

.review-module {
  max-width: 25rem;
  margin: 0 auto;
}

.radio-review {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.radio-review input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-review label {
  display: inline-block;
  background-color: white;
  width: 48%;
  height: 1.5rem;
  text-align: center;
  padding-top: .75em;
  padding-bottom: .75em;
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: .25em;
  border: 2px solid #444;
  border-radius: 0.25rem;
}

.radio-review label:hover {
  background-color: rgba(96, 61, 252, 0.22);
}

.radio-review input[type="radio"]:focus+label {
  border: 2px solid rgba(96, 61, 252, 0.22);
}

.radio-review input[type="radio"]:checked+label {
  background-color: rgba(96, 61, 252, 0.22);
  border-color: #603DFC;
  color: #603DFC;
}

textarea {
  width: 90%;
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 0.25rem;
  border: .15em solid #3E3E3E;
  color: gray;
  outline: none;
}

textarea:focus {
  border-color: #603DFC;
  outline: none;
}

.confirmation-tick {
  width: 100%;
  text-align: center;
}

.confirmation-tick-image {
  width: 50%;
  margin: 1rem 0;
}

/*
 
  For modal modules

  referenced tutorial 
  https://stackoverflow.com/questions/42828949/how-to-center-a-absolute-div-inside-a-fixed-div/42829168

 */

.modal-box-container {
  position: fixed;
  right: 0rem;
  left: 0rem;
  top: 0rem;
  bottom: 0rem;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .5);
  overflow-y: scroll;
}

.modal-box-wrapper {
  position: relative;
}

.modal-box {
  margin: 10vh auto;
  padding: 2.5rem;
  border-radius: .5rem;
  box-shadow: 0 .2em 1em rgba(54, 54, 54, .5);
  background-color: #FFF;
}

/*
  banner module
*/
.banner-module {
  width: 100%;
  background-color: #603DFC;
  color: #FFF;
}

.banner-content {
  display: flex;
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner-content>p {
  display: block;
  margin-right: 2rem;
}

.banner-content>a {
  display: block;
  text-decoration: none;
  background-color: #7a5cff;
  border-radius: .25rem;
}


/*
Login Details
*/

.login-module {

  display: flex;
  flex-direction: column;

  max-width: 25rem;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

}

.login-module>button {
  margin-bottom: 1rem;
}

hr {
  border-top: 1px solid grey;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
}



/*
About Us
*/
.about-us-image {
  width: 100%;
  border-radius: .25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-us {
  max-width: 50%;
  margin: 0 auto;
  padding-bottom: 4rem;
  padding-top: 4rem;
}









/* Image gallery */

.full-img {
  position: relative;
  display: block;
  width: 100%;
}

.gallery-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
  opacity: 1;
}

.gallery-bar img:hover {
  opacity: 0.5;
}

.displayed-img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}


/* product Specifications menu tab */

.specifications {
  margin: 0 auto;
  max-width: 20rem;
}